<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">

    <title>Registro</title>
</head>

<body>

    <div class="contenedor">

        <div class="contenedor-titulo-evento">
            <h1>Registro para el evento: {{datosEvento.NOMBRE_EVE}}</h1>
        </div>

        <div class="contenedor-cliente-precio">

            <div class="card-cliente">

                <form id="form-cliente">

                    <h3 class="cliente-text">Ingrese sus datos</h3>

                    <div class="inputs-container">

                        <div class="input-box">
                            <input 
                                required="" 
                                placeholder="Nombres *" 
                                type="text" 
                                id="txtNombreCliente" 
                                name="txtNombreCliente"/>
                        </div>

                        <div class="input-box">
                            <input 
                                required="" 
                                placeholder="Apellidos *" 
                                type="text" 
                                id="txtApellidosCliente" 
                                name="txtApellidosCliente"/>
                        </div>

                        <div class="input-box">
                            <input 
                                required="" 
                                placeholder="Correo *" 
                                type="email" 
                                id="txtCorreoCliente" 
                                name="txtCorreoCliente"/>
                        </div>

                        <div class="input-box">
                            <input 
                                required="" 
                                placeholder="Telefono *" 
                                type="tel" 
                                max="10" 
                                id="txtTelefonoCliente" 
                                name="txtTelefonoCliente"/>
                        </div>

                        <div class="input-box">
                            <input 
                                required="" 
                                placeholder="Celular *" 
                                type="tel" 
                                max="10" 
                                id="txtCelularCliente" 
                                name="txtCelularCliente"/>
                        </div>

                        <div class="input-box">
                            <input 
                                placeholder="Comentarios" 
                                type="textarea"
                                id="txtComentariosCliente" 
                                name="txtComentariosCliente"/>
                        </div>

                        <p>Seleccione la cantidad de carnets a registrar:</p>

                        <div class="cbo-container">
                            <select data-label="Número de carnets" id="listNumCarnets" name="listNumCarnets">
                                <option value="1">1 carnet</option>
                                <option value="2">2 carnet</option>
                                <option value="3">3 carnet</option>
                                <option value="4">4 carnet</option>
                                <option value="5">5 carnet</option>
                                <option value="6">6 carnet</option>
                                <option value="7">7 carnet</option>
                                <option value="8">8 carnet</option>
                                <option value="9">9 carnet</option>
                                <option value="10">10 carnet</option>
                            </select>
                        </div>

                        <div class="btn-container">
                            <button class="btn" id="btnRegistrar" data-id="{{datosEvento.ID_EVENTO}}">Registrar</button>
                        </div>
                    </div>

                </form>

            </div>

            <div class="contenedorPrecios" id="contenedorPrecios">
                {{>registroCarnets/tabla_precios}}
            </div>
            
        </div>

        <div class="contenedorCarnetsDinamicos" id="contenedorCarnetsDinamicos">
            {{>registroCarnets/backend_carnets}}
        </div>

    </div>

<script src="js/registro_front.js"></script>


</body>

</html>