<div class="card-precios">
    <h3 class="precio-title-text">| Tabla de precios |</h3>
    <p>Subtotal: <span id="subtotal-cliente">{{datosEvento.SUBTOTAL}}</span></p>
    <p>IVA (16%) <span id="iva-cliente">{{datosEvento.IVA_TOTAL}}</span></p>
    <p>Total: <span id="total-cliente">{{datosEvento.TOTAL}}</span></p>
</div>