<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    
    <title>Document</title>
</head>
<body>
    <div class="contenedor">
        <div class="contenedor-reseumen">
            <div class="card-resumen">
                <h3 class="resumen-title-text">¡Plazas registradas exitosamente!</h3>
                <h4>Resumen del registro</h4>
                <p>Nombre del evento: <span>{{datosEvento.NOMBRE_EVENTO}}</span></p>
                <div class="nombre-evento"></div>
        
        
                <p>Nombre del cliente solicitante:</p>
                <div class="nombre-cliente">{{datosCliente.NOMBRE_CLIENTE}}</div>
        
                <p>Asistentes registrados para la reunión:</p>
                <div class="nombres-carnets">{{#each datosCarnets}}
                    {{NOMBRE_CARNET}} {{APELLIDO_CARNET}}
                    {{/each}}</div>

                <a href="#">Regresar</a>
        
            </div>
        </div>
        
    </div>
    
</body>
</html>